<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--将切面类交给ioc管理-->
    <!--<bean id="myAspectXml" class="cn.cn.itcast.aspect.MyAspectXmlAnno"></bean>-->
    <bean id="myAspectXml" class="cn.cn.itcast.aspect.MyAspectXmlAnno2"></bean>

    <!--将要被加强的类交给ioc管理-->
    <bean id="userService" class="cn.cn.itcast.service.UserService"></bean>

    <!--开启注解的aop代理-->
    <aop:aspectj-autoproxy/>
</beans>
